<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>{{head_msg}}</h1>

    <ul>
        <li><h2>{{sub_msg1}}</h2></li>
        <li><h2>{{sub_msg2}}</h2></li>
        <li><h2>{{sub_msg3}}</h2></li>

    </ul>

    <div><li><h2>{{photo}}</h2></li></div>

    <img src="/static/log.jpg" alt="">
    <img src="/static/log2.jpg" alt="">

</body>
</html>