<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% if stud %}
   
   <table border="4" margin="auto">

    <thead>
        <th>Name</th>
        <th>Marks</th>
    </thead>

    {% for stud in stud %}

    <tr>
        <td>{{stud.name}}</td>
        <td>{{stud.marks}}</td>
    </tr>
    {% endfor %}


   </table>

   {% else %}

   <p>No record found</p>
   {% endif %}

   
</body>
</html>